#======== File I/O ===============
InputFile                     : HEVC_yuv/ScreenContent_RGB/sc_flyingGraphics_1920x1080_60_8bit_rgb.rgb
InputBitDepth                 : 8           # Input bitdepth
InputChromaFormat             : 444         # Ratio of luminance to chrominance samples
FrameRate                     : 60          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 1920        # Input  frame width
SourceHeight                  : 1080        # Input  frame height
FramesToBeEncoded             : 600         # Number of frames to be coded
InputColourSpaceConvert       : RGBtoGBR    # Non-normative colour space conversion to apply to input video
SNRInternalColourSpace        : 1           # Evaluate SNRs in GBR order
OutputInternalColourSpace     : 0           # Convert recon output back to RGB order. Use --OutputColourSpaceConvert GBRtoRGB on decoder to produce a matching output file.

Level                         : 6.2
